@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Labb3Web.Data.Models;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--Add CRUD to PageModel-->
